.helpText{
    font-size: 20px;
    text-align: center;
    margin-top: 300px;
}

.oneMessage{
    width: fit-content;
}

.oneMessageAvatar{
    margin: 10px;
}

.oneMessageText{
    margin-bottom: 10px;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid teal;
    border-radius: 20px;

}

.avatarAndName{
    width: fit-content;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.userName{
    height: 60px;
    line-height: 60px;
}