.allMessages{
    height: 520px;
    overflow-y: auto;
}

.allMessages::-webkit-scrollbar {
    width: 0;
}

.notScroll{
    overflow: hidden;
}

.helpText{
    font-size: 20px;
    text-align: center;
    margin-top: 300px;
}

.oneMessage{
    width: fit-content;
}
