.chat{
    display: flex;
    margin-top: 100px;
}

.chatBlock{
    width: 100%;
    margin-right: 50px;
}

@media screen and (max-width: 1000px) {
    .chat{
        display: block;
        margin-top: 50px;
    }

    .chatBlock{
        width: 95%;
        margin: 0 auto;
    }
}