.ourUsers{
    position: relative;
    padding: 10px 5px;
    border-top: 2px solid teal;
    border-bottom: 2px solid teal;
    border-right: 2px solid teal;
    border-radius: 0 10px 10px 0 ;
    width: 400px; 
    height: 600px;
    background: white;
    color: black;
}

.pointer{
    position: absolute;
    top: 275px;
    right: -9px;
    width: 16px;
    height: 50px;
    border: 2px solid teal;
    border-radius: 5px;
    background: rgb(113, 209, 209);
    cursor: col-resize;
    word-wrap: break-word;
}

@media screen and (max-width: 1000px) {
    .pointer{
        display: none;
    }

    .input{
        display: none;
    }

    .ourUsers{
        border-left: 2px solid teal;
        border-top: 0;
        border-radius: 0 0 10px 10px ;
        width: 95%;
        margin: 0 auto;
        height: 100px;
        margin-bottom: 50px;
    }
}